* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
}

/** HEADER NAV BAR **/
header {
    width: 100%;
    height: auto;
    position: relative;
    color: #111d5e;
    font-size: 24px;
    background: rgb(251,144,98);
    background: linear-gradient(90deg, rgba(251,144,98,1) 0%, rgba(206,73,147,0.5648634453781513) 26%, rgba(106,13,131,0.335171568627451) 100%);
    box-shadow: 2px 2px 8px #111d5e;
}

.nav-bar {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    flex-direction: column;
}

.nav-brand {
    font-size: 1.33em;
    width: 100%;
    margin-top: auto;
}

.nav-logo {
    position: relative;
    top: 16px;
    left: 40px;
}

.nav-name {
    padding-left: 1.5em;
}

.nav-categories {
    display: flex;
    line-height: 1.33em;
    height: 100%;
    flex: 1;
    margin-bottom: auto;
    padding: 0;
}

.nav-item {
    list-style-type: none;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    height: 100%;
}

.nav-item a.active, .nav-item a:hover {
    text-decoration: none;
    color: #6a0d83 !important;
    cursor: pointer;
}
header hr {
    margin-top: 0;
    border-bottom: 2px solid #111d5e;
}
.col-sm-3, .col-sm-6, .col-sm-9, .col-sm-12, .col-md-3, .col-md-6, .col-md-9, .col-md-12 {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 25px;
    padding-right: 25px;
}

/** GRID **/
#grid-text {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#grid-templates {
    display: none;  
}

#main-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding: 0 10px 0 10px;
    width: 100%;
    height: 500px;
}

.grid-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    margin-top: -1px;
}

.standard-node, .house-node, .destination-node, .road-node {
    height: 31px;
    width: 31px;
    border: 1px solid black;
    margin-left: -1px;
}

.standard-node {
    background-color: white;
}

.unvisited.house-node, .unvisited.destination-node, .unvisited.road-node {
    background-color: rgba(105, 13, 130, 0.45);
}

.visited.house-node, .visited.destination-node, .visited.road-node {
    background-color: rgba(238, 93, 108, 0.69);
}

.house-node {
    background-image: url(../images/house.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
}

.destination-node {
    background-image: url(../images/destination.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
}

/** MEDIA QUERIES **/
@media (max-width: 991px) {
    .nav-brand {
        padding-bottom: 15px;
        border-bottom: 1px dotted #111d5e;
        text-align: center;
    }
    .nav-logo {
        position: relative;
        top: 12px;
        left: -5px;
    }
    .nav-name {
        padding-left: 0;
    }
    .nav-categories {
        flex-direction: column;
        margin: 0;
    }
    .nav-item {
        padding-top: 15px;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-12 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .nav-brand {
        width: 400px !important;
    }
    .nav-bar {
        flex-direction: row;
    }
    .nav-item:nth-child(1) {
        border-left: 1px solid #111d5e;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-12 {
        width: 100%;
    }
}

