* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    color: #111d5e;
}

/** HEADER NAV BAR **/
header {
    width: 100%;
    font-family: 'Dosis', sans-serif;
    height: auto;
    position: relative;
    color: #111d5e;
    font-size: 24px;
    background: rgb(251,144,98);
    background: linear-gradient(90deg, rgba(251,144,98,1) 0%, rgba(206,73,147,0.5648634453781513) 40%, rgba(106,13,131,0.335171568627451) 100%);
    box-shadow: 2px 2px 8px #111d5e;
}

.nav-bar {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    flex-direction: column;
}

.nav-brand {
    font-size: 1.33em;
    width: 100%;
    margin-top: auto;
}

.nav-logo {
    position: relative;
    top: 16px;
    left: 40px;
}

.nav-name {
    padding-left: 1.5em;
}

.nav-categories {
    display: flex;
    line-height: 1.33em;
    height: 100%;
    flex: 1;
    margin-bottom: auto;
    padding: 0;
}

.nav-item {
    list-style-type: none;
    flex-wrap: wrap;
    flex: 1;
    text-align: center;
    height: 100%;
}

.nav-item a {
    text-decoration: none !important;
    color: #111d5e;
}

.nav-item a.active, .nav-item a:hover {
    color: #6a0d83 !important;
    cursor: pointer;
}
header hr {
    margin-top: 0;
    border-bottom: 2px solid #111d5e;
    margin-bottom: 8px;
}
.col-sm-3, .col-sm-6, .col-sm-9, .col-sm-12, .col-md-3, .col-md-6, .col-md-9, .col-md-12 {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 25px;
    padding-right: 25px;
}

/** UI **/
.button-bar {
    margin-top: 10px;
}

.button-container {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.button-container button {
    font-family: 'Dosis', sans-serif;
    font-size: 24px;
    color: #111d5e;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0 10px 0 10px;
}

/** GRID **/
#grid-text {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

#grid-templates {
    display: none;  
}

#main-grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    padding: 0 10px 0 10px;
    width: 100%;
    height: 75vh;
}

.grid-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
    margin-top: -1px;
}

.standard-node, .house-node, .destination-node, .road-node {
    height: 31px;
    width: 31px;
    border: 1px solid black;
    margin-left: -1px;
}

.standard-node {
    background-color: white;
}

.unvisited.house-node, .unvisited.destination-node, .unvisited.road-node {
    background-color: rgba(105, 13, 130, 0.5);
}

.visited.house-node, .visited.destination-node, .visited.road-node {
    background-color: rgba(238, 93, 108, 0.8);
}

.house-node {
    background-image: url(../images/house.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
}

.destination-node {
    background-image: url(../images/destination.svg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center;
}

/** NOTIFICATIONS **/
.notification-container {
    position: fixed;
    top: 75%;
    right: 50%;
    width: 500px;
    max-width: calc(100% - 30px);
    margin-right: -250px;
}

.notification-templates {
    display: none;
}

.notification {
    background-color: rgba(251,144,98,0.97);
    box-shadow: 0 3px 6px rgba(17, 29, 95, 0.4);
    border: 2px solid #111d5e;
    color: #111d5e;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 15px;
    font-weight: bold;
    animation-duration: 0.5s;
    animation-name: notificationShow;
}

@keyframes notificationShow {
    from {
        transform: scale(0.7);
        opacity: 0.9;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.notification button {
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    color: #111d5e;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 10px 10px 0 10px;
}

/** MEDIA QUERIES **/
@media (max-width: 991px) {
    .nav-brand {
        padding-bottom: 15px;
        border-bottom: 1px dotted #111d5e;
        text-align: center;
    }
    .nav-logo {
        position: relative;
        top: 12px;
        left: -5px;
    }
    .nav-name {
        padding-left: 0;
    }
    .nav-categories {
        flex-direction: column;
        margin: 0;
    }
    .nav-item {
        padding-top: 15px;
    }
    .col-sm-3 {
        width: 25%;
    }
    .col-sm-6 {
        width: 50%;
    }
    .col-sm-9 {
        width: 75%;
    }
    .col-sm-12 {
        width: 100%;
    }
}
@media (min-width: 992px) {
    .nav-brand {
        width: 350px !important;
    }
    .nav-bar {
        flex-direction: row;
    }
    .nav-item:nth-child(1) {
        border-left: 1px solid #111d5e;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/** TRANSITIONS **/
.to-road {
    animation-duration: 0.5s;
    animation-name: toRoad;
}

@keyframes toRoad {
    from {
        background-color: rgba(105, 13, 130, 0.2);
    }
    to {
        background-color: rgba(105, 13, 130, 0.5);
    }
}

.visited-to-standard {
    animation-duration: 0.5s;
    animation-name: visitedToStandard;
}

@keyframes visitedToStandard {
    from {
        background-color: rgba(238, 93, 108, 0.8);
    }
    to {
        background-color: white;
    }
}

.unvisited-to-standard {
    animation-duration: 0.5s;
    animation-name: unvisitedToStandard;
}

@keyframes unvisitedToStandard {
    from {
        background-color: rgba(105, 13, 130, 0.5);
    }
    to {
        background-color: white;
    }
}

.to-visited {
    animation-duration: 0.5s;
    animation-name: toVisited;
}

@keyframes toVisited {
    from {
        background-color: rgba(105, 13, 130, 0.5);
    }
    to {
        background-color: rgba(238, 93, 108, 0.8);
    }
}

.to-unvisited {
    animation-duration: 0.5s;
    animation-name: toUnvisited;
}

@keyframes toUnvisited {
    from {
        background-color: rgba(238, 93, 108, 0.8);
    }
    to {
        background-color: rgba(105, 13, 130, 0.5);
    }
}
